@import (reference) "../Styles/Variables.less";

.playable {
    @highlightColor: var(--playable-highlight-color);
    @margin: calc(@standardMargin / 2);

    display: block;
    user-select: none;
    width: 100%;

    .completed {
        background-color: @highlightColor;
    }

    .pending {
        outline: 2px solid @highlightColor;
    }

    .title {
        margin-bottom: @standardMargin;
        text-align: center;
    }

    .win {
        margin-top: @margin;
        text-align: center;
    }

    .wordListContainer {
        margin: @margin auto 0;
    }

    .wordListWord {
        display: inline-block;
        margin-right: @margin;
    }

    .game { 
        font-weight: 700;
        display: table;
        margin: 0 auto;
    }

    .row {
        display: table-row;
    }

    .cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}
