@import (reference) "../Styles/Variables.less";

.dropdown-container {
    margin-bottom: @standardMargin;

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-size: 0.8em;
        opacity: 0.9;
    }

    select {
        background: var(--input-bg-color);
        color: var(--input-text-color);
        display: block;
        font-size: @baseFontSize;
        outline: none;
        width: 100%;

        &:focus {
            box-shadow: 0 0 1rem 1px var(--input-focus-color);
        }
    }
}
